/*.App {
  text-align: center;
}*/

.App-img-logo {
  height: 50px;
  pointer-events: none;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}
.not-hight-light:hover {
  border-bottom: 2px solid transparent !important;
  color: inherit !important;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
